/* Auxiliares do Flexbox */
.column {
    display: flex;
    flex-direction: column;
  }
  
  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .row-flex {
    display: flex;
    flex-direction: row;
  }
  
  .row-reverse-flex {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .all-centered {
    align-items: center;
    justify-content: center;
  }
  
  .centered-start {
    align-items: center;
    justify-content: flex-start;
  }
  
  .start-centered {
    align-items: flex-start;
    justify-content: center;
  }
  .start-end {
    align-items: flex-start;
    justify-content: end;
  }
  .start-between{
    align-items: start;
    justify-content: space-between;
  }
  
  .centered-end {
    align-items: center;
    justify-content: flex-end;
  }
  
  .end-centered {
    align-items: flex-end;
    justify-content: center;
  }
  
  .all-start {
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .all-end {
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .centered-between{
    align-items: center;
    justify-content: space-between;
  }
  .centered-around{
    align-items: center;
    justify-content: space-around;
  }
  
  .centered-even{
    align-items: center;
    justify-content: space-evenly;
  }
  
  .break {
    flex-wrap: wrap;
  }
  
  .w-100 {
    width: 100%;
  }
  .w-90 {
    width: 90%;
  }
  .w-80 {
    width: 80%;
  }
  .w-70 {
    width: 70%;
  }
  .w-50 {
    width: 50%;
  }
  .w-40 {
    width: 40%;
  }
  .w-30 {
    width: 30%;
  }
  .w-20 {
    width: 20%;
  }
  .w-10 {
    width: 10%;
  }

  .gap-5 {
    gap: 5px;
  }

.gap-10 {
    gap: 10px;
}

.f-p-5 {
    box-sizing: border-box;
    padding: 10px;
}

.f-p-10 {
    box-sizing: border-box;
    padding: 10px;
}

.f-p-20 {
    box-sizing: border-box;
    padding: 10px;
}

.f-m-10 {
    margin: 10px;
}

.f-m-20 {
    margin: 20px;
}

.f-mv-10 {
    margin: 10px 0px;
}

.f-mv-20 {
    margin: 20px 0px;
}

.f-mh-10 {
    margin: 0px 10px;
}

.f-mh-20 {
    margin: 0px 20px;
}

.f-test {
    border: 1px solid red;
}

.f-required::after {
    content: "*";
    color: red;
    margin-left: 2px;
}